/* For the grid container */
.country-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
    margin: 0 20%;
  }
  
  /* Dark mode styles */
  body.dark-mode {
    background-color: #202c37;
    color: #ffffff;
  }
  
  body.dark-mode .country-card {
    background-color: #2b3945;
    color: #ffffff;
  }
  
  /* Adjust other elements if necessary */
  body.dark-mode .navbar,
  body.dark-mode .filter-bar {
    background-color: #2b3945;
    color: #ffffff;
  }
  